<form [formGroup]="todoForm">
  <div class="d-flex justify-content-between px-2">
    <h2 class="p-3 m-0">{{ editMode ? currentTodo.title : "Add new todo" }}</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <mat-form-field class="w-100">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Type in title..."
        autocomplete="off"
        required="required"
      />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Autosize textarea</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-end w-100 px-3 py-2">
      <button
        type="button"
        mat-stroked-button
        color="primary"
        (click)="close()"
      >
        Close
      </button>
      <button type="submit" mat-flat-button color="primary" (click)="save()">
        Save
      </button>
    </div>
  </mat-dialog-actions>
</form>
